* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
   html, body {
  overflow-x: hidden;
}
.about-section {
  padding: 4rem 2rem;
  background-color: #fff;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-left: 4rem;
}

.about-text {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
}

.about-text h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #111827;
}



.about-text p {
  font-size: 1.05rem;
  line-height: 1.7;
  margin-bottom: 1.5rem;
  color: #374151;
}

.info-list p {
  margin-bottom: 0.8rem;
  font-size: 1rem;
  color: #1f2937;
}

.info-list strong {
  width: 100px;
  display: inline-block;
  color: #6b7280;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
  min-width: 250px;
}

.about-image img {
  max-width: 70%;
  border-radius: 1.5rem;
  height: 70%;
  object-fit: cover;
}

/* Responsive styles for mobile */
@media (max-width: 767px) {
  .about-content {
    flex-direction: column;
    margin-left: 0;
    gap: 1.5rem;
  }

  .about-text{
    max-width: 100%;
    min-width: unset;
  }

  .about-text h2 {
    font-size: 1.5rem;
  }

  .about-text p,
  .info-list p {
    font-size: 0.95rem;
  }

  .about-image img {
    max-width: 70%;
    height: auto;
  }

  .about-section {
    padding: 2rem 1rem;
  }
}
.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
  min-width: 150px;
}
