* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   html, body {
  overflow-x: hidden;
}
  html {
    scroll-behavior: inherit;
  }
  .fade-in {
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition: all 0.6s ease-in-out;
  }
  /* Right-to-left animation */
.fade-in-right {
  opacity: 0;
  visibility: hidden;
  transform: translateX(50px);
  transition: all 0.6s ease-in-out;
}

.fade-in-right.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

/* Left-to-right animation */
.fade-in-left {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50px);
  transition: all 0.6s ease-in-out;
}

.fade-in-left.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

/* Scaling animation */
.fade-in-scale {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.8);
  transition: all 0.6s ease-in-out;
}

.fade-in-scale.show {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

  
  .show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  