* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


  }
  html, body {
  overflow-x: hidden;
}
  
  
  .navbar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #e6e7e8;
    transition: background-color 0.5s ease-in-out, transform 1s ease-in-out;
}

.navbar.scrolled {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-10px);
}

  
  
  .logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: #111827;
  background-color: transparent;
  border: none;
  margin-left: 0;
}

 .nav-links {
  display: flex;
  gap: 1.5rem;
}
  .nav-links a {
    text-decoration: none;
    color: #111827;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #6366f1;
  }
  
 .hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #111;
  margin: 4px 0;
}

  .navlogin-button {
  background-color: #919191; 
  color: white;
  border: none;
  padding: 5px 5px;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  gap: 8px;
}

.navlogin-button:hover {
  background-color: #c3c2c1; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.navlogin-button:active {
  transform: scale(0.95); /* Slight press-down effect */
}
.hamlogin{
  display: none;
}
  
 /* MOBILE */
@media (max-width: 768px) {

  .navbar{
    padding: 0 10px;
  }
  .nav-links {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: #f3f4f6;
    padding: 1rem 0;
    gap: 1rem;
    text-align: center;
    z-index: 999;
  }
  .navlogin-button{
    display: flex;
    background-color: #f6f4f4; 
  color: rgb(94, 94, 94);
  border: none;
  padding: 5px 5px;
  border-radius: 0%;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  justify-content: center;
  align-items: center;
  gap: 8px;
  }


  .nav-links.show {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
  .hamlogin{
  display: flex;
  color: #454444;
}

}
  